.documentDiv {
    width: 49%;
    height: 60px;
    margin: 2px;
    font-size: 1.3rem;
    border: solid thin darkgrey;
    float: left;
    padding: .25rem;
    white-space:initial;
    overflow: hidden;
    text-overflow: ellipsis;
  }